<h2 id="faq">Frequently Asked Questions</h2>

<details class="margin-bottom-small">
	<summary class="margin-bottom-small"><strong>Do the lessons and projects use new ES6 methods?</strong></summary>
	<p>Yes. Where applicable, I cover new ES6 functions and browser APIs.</p>
</details>

<details class="margin-bottom-small">
	<summary class="margin-bottom-small"><strong>How do I access the course and ebook?</strong></summary>
	<p>Visit <a href="https://courses.gomakethings.com/join">the Student Portal</a> and create an account with the email address you used to make your purchase.</p>
	<p>You can download the ebooks and source code any time, and stream your videos or read the tutorials from any device. You can also download the videos for offline viewing.</p>
</details>

<details class="margin-bottom-small">
	<summary class="margin-bottom-small"><strong>Do I need any special tools or equipment?</strong></summary>
	<p>All you need to work with the source code and projects is a modern web browser and a text editor (I recommend <a href="https://code.visualstudio.com/">VS Code</a>).</p>
</details>

<details class="margin-bottom-small">
	<summary class="margin-bottom-small"><strong>Do I need any prior knowledge or experience to learn vanilla JavaScript?</strong></summary>
	<p>Nope! This is a foundational course for beginners. I'll even walk you through how to run JavaScript in the browser if you've never done that before. If you have any specific questions, though, please email me at <a href="mailto:&#099;&#104;&#114;&#105;&#115;&#064;&#103;&#111;&#109;&#097;&#107;&#101;&#116;&#104;&#105;&#110;&#103;&#115;&#046;&#099;&#111;&#109;?subject=Vanilla%20JS%20Projects:%20General%20Questions">&#099;&#104;&#114;&#105;&#115;&#064;&#103;&#111;&#109;&#097;&#107;&#101;&#116;&#104;&#105;&#110;&#103;&#115;&#046;&#099;&#111;&#109;</a>.</p>
</details>

<details class="margin-bottom-large">
	<summary class="margin-bottom-small"><strong>I have another question.</strong></summary>
	<p>No problem! Send me an email at <a href="mailto:&#099;&#104;&#114;&#105;&#115;&#064;&#103;&#111;&#109;&#097;&#107;&#101;&#116;&#104;&#105;&#110;&#103;&#115;&#046;&#099;&#111;&#109;?subject=Vanilla%20JS%20Projects:%20General%20Questions">&#099;&#104;&#114;&#105;&#115;&#064;&#103;&#111;&#109;&#097;&#107;&#101;&#116;&#104;&#105;&#110;&#103;&#115;&#046;&#099;&#111;&#109;</a>.</p>
</details>