{{ partial "header.html" . }}

<article>

	{{ partial "content-page-no-article.html" . }}


	{{ range $index, $pages :=.Pages }}
	<div class="callout margin-bottom-medium">

		<h2 class="h5 no-padding-top margin-bottom-small">
			<label for="{{ .Title | urlize }}">
				<input type="checkbox" id="{{ .Title | urlize }}" data-save>
				<strong>{{ add $index 1 }}. {{ .Title }}</strong>
			</label>
		</h2>

		<p class="margin-bottom-small padding-left">
			<a aria-label="Resources and project ideas for {{ .Title }}" href="{{ .URL }}">Resources and project ideas &rarr;</a>
		</p>

		<ul class="list-unstyled no-margin-bottom padding-left">
			{{- $.Scratch.Set "title" .Title -}}
			{{ range .Params.thingsToLearn }}
				<li>
					<label for="{{ ($.Scratch.Get "title") | urlize }}_{{ . |  urlize }}">
						<input type="checkbox" id="{{ ($.Scratch.Get "title") | urlize }}_{{ . |  urlize }}" data-save>
						{{ . | markdownify }}
					</label>
				</li>
			{{ end }}
		</ul>

	</div>
	{{ end }}

	{{ partial "mailchimp-intro.html" . }}
	{{ partial "mailchimp-form.html" }}

</article>

{{ partial "footer.html" . }}