{{ partial "header.html" . }}

{{ partial "content-page.html" . }}

{{ if false }}
<ol class="list-spaced">
{{ range .Pages }}
	<li>
		<strong><a href="{{ .URL }}">{{ .Title }}.</a></strong> {{ .Plain }}
	</li>
{{ end }}
</ol>
{{ end }}

<ul class="list-unstyled">
{{ range $index, $pages :=.Pages }}
	<li class="margin-bottom-medium bg-muted border padding">
		<label for="{{ .Title | urlize }}">
			<input type="checkbox" id="{{ .Title | urlize }}" data-save>
			<strong>{{ add $index 1 }}. {{ .Title }}</strong>
		</label>
		<p class="margin-bottom-small padding-left">
			<a aria-label="Resources and project ideas for {{ .Title }}" href="{{ .URL }}">Resources and project ideas &rarr;</a>
		</p>
		<ul class="list-unstyled no-margin-bottom padding-left">
			{{- $.Scratch.Set "title" .Title -}}
			{{ range .Params.thingsToLearn }}
				<li>
					<label for="{{ ($.Scratch.Get "title") | urlize }}_{{ . |  urlize }}">
						<input type="checkbox" id="{{ ($.Scratch.Get "title") | urlize }}_{{ . |  urlize }}" data-save>
						{{ . | markdownify }}
					</label>
				</li>
			{{ end }}
		</ul>
	</li>
{{ end }}
</ul>

{{ partial "footer.html" . }}