{{ partial "header.html" . }}

	<article>

		<header>
			<h1 class="no-padding-top">
				{{ .Title }}
			</h1>
		</header>

		{{ .Content }}

		<ul class="list-unstyled padding-left-small">
			{{- $.Scratch.Set "title" .Title -}}
			{{ range .Params.thingsToLearn }}
				<li>
					<label for="{{ ($.Scratch.Get "title") | urlize }}_{{ . |  urlize }}">
						<input type="checkbox" id="{{ ($.Scratch.Get "title") | urlize }}_{{ . |  urlize }}" data-save>
						{{ . | markdownify }}
					</label>
				</li>
			{{ end }}
		</ul>

		<h2 id="resources">Learning Resources</h2>

		<ul>
			{{- range .Site.Data.resources -}}
				{{ if or (in .topics $.Params.topic) (in .topics "*") }}
				<li><a href="{{ .url }}">{{ .name }}</a></li>
				{{ end }}
			{{- end -}}
		</ul>

		<h2 id="projects">Projects</h2>

		<p><em>Coming soon...</em></p>

	</article>

{{ partial "footer.html" . }}