{{ partial "header.html" . }}

	<article>

		<header>
			<h1 class="no-padding-top">
				{{ .Title }}
			</h1>
		</header>

		{{ .Content }}

		<ul class="list-unstyled padding-left-small">
			{{- $.Scratch.Set "title" .Title -}}
			{{ range .Params.thingsToLearn }}
				<li>
					<label for="{{ ($.Scratch.Get "title") | urlize }}_{{ . |  urlize }}">
						<input type="checkbox" id="{{ ($.Scratch.Get "title") | urlize }}_{{ . |  urlize }}" data-save>
						{{ . | markdownify }}
					</label>
				</li>
			{{ end }}
		</ul>

		<h2 id="resources">Learning Resources</h2>

		<ul>
		{{- range .Site.Data.resources -}}
			{{- if or (in .topics $.Params.topic) (in .topics "*") -}}
			<li><a href="{{ .url }}">{{ .name }}</a></li>
			{{- end -}}
		{{- end -}}
		</ul>

		<h2 id="projects">Project Ideas</h2>

		{{- if and (isset .Params "projects") (ne .Params.projects "") -}}
			{{ .Params.projects | markdownify }}
		{{- else -}}
		<ul class="list-unstyled padding-left-small">
		{{- range .Site.Data.projects -}}
			{{- if in .topics $.Params.topic -}}
			<li>
				<label class="text-inline">
					<input type="checkbox" id="projects_{{ .name | urlize }}" data-save>
					{{ .name }}
				</label>{{ if ne .url "" }} - <a aria-label="Project details for {{ .name }}" href="{{ .url }}">details</a>{{ end }}
			</li>
			{{- end -}}
		{{- end -}}
		</ul>
		{{- end -}}

		{{ partial "mailchimp-intro.html" . }}
		{{ partial "mailchimp-form.html" }}

	</article>

{{ partial "footer.html" . }}